#main-content {
  color: white;
  background-image: url('../../images/blobs/main.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@include media-breakpoint-down(lg) {
  #main-content {
    background-position: center -100px;
    background-size: auto auto contain;
  }
  #hook{
    position: relative;
    top: 2.5rem;
    margin-bottom: 2rem;
  }
}
